<h3><a href="/bucket_lists/<%= bucket_list.id %>/edit"><%= bucket_list.name %></a></h3>

<div>
  <% ratio = bucket_list.ratio %>
  <% if ratio %>
  <%= ratio[:max][:ratio].round(2) %> <%= ratio[:max][:name].pluralize(ratio[:max][:ratio]) %> per <%= ratio[:min][:name] %>
  <% elsif !bucket_list.buckets.empty? %>
    <%= bucket_list.sum %> <%= bucket_list.buckets.first.unit.name.pluralize(bucket_list.sum) %>
  <% else %>
    empty
  <% end %>
</div>
<% bucket_list.buckets.each do |bucket| %>
  <div class="burn_row">
    <div class="first"><a href="/buckets/<%= bucket.id %>/edit"><%= bucket.name %></a></div>
    <div><%= bucket.sum %><% if bucket.size %> of <%= bucket.size %><% end %> <%= bucket.unit.name.pluralize(bucket.size) %></div>
  </div>
<% end %>
