
<div class="toggle">
  <input type="checkbox" id="bucket_<%= bucket.id %>" name="bucket[]" value="<%= bucket.id %>">
  <label for="bucket_<%= bucket.id %>">
    <%= bucket.name %>
    <%= bucket.sum %><% if bucket.size %> of <%= bucket.size %><% end %> <%= bucket.unit.name %>
  </label>
</div>
