<h3><a href="/bucket_lists/edit/<%= bucket_list.id %>"><%= bucket_list.name %> - <%= bucket_list.sum %></a></h3>
<div>
  <% ratio = bucket_list.ratio %>
  <% if ratio %>
  <%= ratio[:max][:ratio] %> <%= ratio[:max][:name] %> per <%= ratio[:min][:name] %>
  <% end %>
</div>
<% bucket_list.buckets.each do |bucket| %>
  <div class="burn_row">
    <div class="first"><%= bucket.name %></div>
    <div><%= bucket.sum %><% if bucket.size %> of <%= bucket.size %><% end %> <%= bucket.unit.name %></div>
  </div>
<% end %>
