<h3><%= bucket_list.name %></h3>
<% bucket_list.buckets.each do |bucket| %>
  <div class="burn_row">
    <div class="first"><%= bucket.name %></div>
    <div><%= bucket.sum %><% if bucket.size %> of <%= bucket.size %><% end %> <%= bucket.unit.name %></div>
  </div>
<% end %>
