
<div class="bucket_list_title">
  <a href="/bucket_lists/<%= bucket_list.id %>/edit"><%= bucket_list.name %></a>
  </div>
<div class="bucket_list_subtitle">
  <% ratio = bucket_list.ratio %>
  <% if ratio %>
  <%= ratio[:max][:ratio].round(2) %> <%= ratio[:max][:name].pluralize(ratio[:max][:ratio]) %> per <%= ratio[:min][:name] %>
  <% elsif !bucket_list.buckets.empty? %>
    <%= bucket_list.sum %> <%= bucket_list.buckets.first.unit.name.pluralize(bucket_list.sum) %>
  <% else %>
    empty
  <% end %>
</div>


<% bucket_list.buckets.each do |bucket| %>
  <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
<% end %>
