<h3><a href="/bucket_lists/edit/<%= bucket_list.id %>"><%= bucket_list.name %></a></h3>
<div>
  <% ratio = bucket_list.ratio %>
  <% if ratio %>
  <%= ratio[:max][:ratio].round(2) %> <%= ratio[:max][:name].pluralize(ratio[:max][:ratio]) %> per <%= ratio[:min][:name] %>
  <% else %>
  <%= bucket_list.sum %> <%= bucket_list.buckets.first.unit.name.pluralize(bucket_list.sum) %>
  <% end %>
</div>
<% bucket_list.buckets.each do |bucket| %>
  <div class="burn_row">
    <div class="first"><%= bucket.name %></div>
    <div><%= bucket.sum %><% if bucket.size %> of <%= bucket.size %><% end %> <%= bucket.unit.name %></div>
  </div>
<% end %>
