<div class="journal_row">
  <div class="name"><a href="/buckets/<%= moment.bucket.id %>/edit"><%= moment.bucket.name %></a></div>
  <div class="memo"><a href="/moments/<%= moment.id %>/edit"><%= moment.memo %></a></div>
  <% if moment.value %>
  <% if moment.value.negative? %>
    <div class="credit">
  <% else %>
    <div class="debit">
  <% end %>

      <%= moment.value %> <%=  moment.bucket.unit.name.pluralize(moment.value) %>
    </div>
    <% end %>
</div>
