<div class="journal_row">
  <div class="name"><a href="/buckets/edit/<%= moment.bucket.id %>"><%= moment.bucket.name %></a></div>
  <div class="memo"><a href="/moments/edit/<%= moment.id %>"><%= moment.memo %></a></div>
  <% if moment.value %>
  <% if moment.value.negative? %>
    <div class="credit">
  <% else %>
    <div class="debit">
  <% end %>

      <%= moment.value %> <%=  moment.bucket.unit.name.pluralize(moment.value) %>
    </div>
    <% end %>
</div>
