<main id="form_content">
<h2>Edit Bucketlist</h2>
    <form action="/bucket_lists/<%=@bucket_list.id%>" method="post">

        <input id="hidden" type="hidden" name="_method" value="patch">

        <input type="text" name="bucket_list[name]" value="<%=@bucket_list.name%>">

        <% @buckets.each do |bucket| %>
          <div>
            <input type="checkbox" id="bucket_<%= bucket.id %>" name="buckets[]" value="<%= bucket.id %>" <%='checked' if @bucket_list.buckets.include?(bucket) %>>
            <label for="bucket_<%= bucket.id %>">

              <%= bucket.name %>

            </label>
          </div>


        <% end %>

      <button type="submit" id="submit_button" name="function" value="submit">submit</button>

    </form>



    <form method="post" action="/bucket_lists/<%= @bucket_list.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type="submit" id="delete_button" name="function" value="delete">delete</button>
    </form>


</main>
