<main id="form_content">
  <h2>New Bucketlist</h2>
  <% if flash.has?(:messages) %>
  <ul>
    <% flash[:messages].each do |message| %>
      <li><%= message.first %> - <%= message.flatten.last %></li>
    <% end %>
  </ul>

  <% end %>

  <form action="/bucket_lists" method="post">
    <input type="text" name="bucket_list[name]" placeholder="name">

    <% @buckets.each do |bucket| %>
      <div class="toggle">
        <input type="checkbox" id="bucket_<%= bucket.id %>" name="buckets[]" value="<%= bucket.id %>">
        <label for="bucket_<%= bucket.id %>">

          <%= bucket.name %>

        </label>
      </div>
    <% end %>

    <button type="submit" id="submit_button" name="function" value="submit">submit</button>
  </form>
</main>
