<form action="/journal" method="post">
  <div id="grid_wrapper">

    <header>
      <div id="user_caption">
        <h1><%= @user.username %>'s buckets</h1>
      </div>
      <div class="message">
        <% if flash.has?(:message) %>
          <%= flash[:message]%>
        <% end %>
      </div>
      <div id="logout">
        <a href="/logout">logout</a>
      </div>

    </header>

      <section id="journal">
        <h2>journal</h2>

        <% @moments.each do |moment| %>
          <%= erb :'partials/journal_row', :layout => false, :locals => {:moment => moment} %>
        <% end %>

      </section>

      <section id="psi_naught">

        <h2>Burn</h2>

        <% @buckets.select {|bucket| bucket.potential == 1}.each do |bucket| %>
          <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
        <% end %>

        <a href="buckets/new?potential=1">add bucket</a>

      </section>

      <section id="psi">

        <h2>Potential</h2>

        <% @buckets.select {|bucket| bucket.potential == -1}.each do |bucket| %>
          <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
        <% end %>

        <a href="buckets/new?potential=-1">add bucket</a>

      </section>

      <section id="form_control">
        <input type="text" id="moment_value" name="moment[value]" placeholder="value" required>
        <input type="text" id="moment_unit" name="moment[unit]" placeholder="units" required>
        <input type="text" id="moment_note" name="moment[memo]" placeholder="memo" required>
        <button type="submit" id="moment_add" name="function" value="submit">submit</button>
      </section>





    <footer>
      <p><small>&copy; 2019 <strong>burnbucket</strong></small></p>
    </footer>
  </div>
</form>
