<main id="form_content">
  <h2>Edit Bucket</h2>


<form action="/buckets/<%=@bucket.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="bucket[name]" value="<%= @bucket.name %>">
  <input type="text" name="bucket[size]" <% if !@bucket.size %>placeholder="size" <%else%> value="<%= @bucket.size %>"<%end%>>
  <% @bucket.size ? size_holder = @bucket.size : size_holder = 2 %>
  <input type="text" name="bucket[unit]" <% if !@bucket.unit %>placeholder="unit" <%else%> value="<%= @bucket.unit.name.pluralize(size_holder) %>"<%end%>>
  <button type="submit">submit</button>
</form>
<form method="post" action="/buckets/<%= @bucket.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit">delete</button>
</form>
</main>
