<form action="/journal" method="post">
  <div id="grid_wrapper">

    <header>
      <div id="user_caption">
        <h1><%= @user.username %>'s buckets</h1>
      </div>
      <div class="message">
        <% if flash.has?(:message) %>
          <%= flash[:message]%>
        <% end %>
      </div>
      <div id="logout">
        <a href="/logout">logout</a>
      </div>

    </header>

    <section id="form_control">
      <input type="text" id="moment_value" name="moment[value]" placeholder="value" >
      <input type="text" id="moment_note" name="moment[memo]" placeholder="memo" required>

      <select name="moment[bucket]" required>
        <option default selected value="">Bucket</option>
        <% @buckets.each do |bucket| %>
          <option value="<%=bucket.id%>"><%= bucket.name %></option>
        <% end %>
      </select>


      <button type="submit" id="moment_add" name="function" value="submit">submit</button>
    </section>

    <section id="buckets">

      <h2>Burn</h2>

      <% @free_buckets.each do |bucket| %>
        <%= erb :'partials/bucket_row', :layout => false, :locals => {:bucket => bucket} %>
      <% end %>

      <% @bucket_lists.each do |bucket_list| %>
        <%= erb :'partials/bucket_list_row', :layout => false, :locals => {:bucket_list => bucket_list} %>
      <% end %>

      <a href="buckets/new">add bucket</a>
      <a href="bucket_lists/new">add bucketlist</a>

    </section>



      <section id="journal">
        <h2>journal</h2>

        <% @moments.each do |moment| %>
          <%= erb :'partials/journal_row', :layout => false, :locals => {:moment => moment} %>
        <% end %>

      </section>




    <footer>
      <p><small>&copy; 2019 <strong>burnbucket</strong></small></p>
    </footer>
  </div>
</form>
