<%= erb :'partials/bucket_breadcrumb' %>
<h2><%= @bucket.total %></h2>

<ul>
  <% @entries.each do |entry| %>

    <li><%= entry.name %> - <%= entry.amount %></li>

  <% end %>
</ul>

<a class="button" href="/buckets/<%= @bucket.slug %>/edit">Edit Bucket</a>
