<%= erb :'partials/bucket_breadcrumb' %>

<ul>
  <% @moments.each do |moment| %>

    <li><%= moment.name %> - <%= moment.value %> <%= moment.unit %> <%= moment.start %> - <%= moment.end %></li>

  <% end %>
</ul>

<a class="button" href="/buckets/<%= @bucket.slug %>/edit">Edit Bucket</a>
