<%= erb :'partials/bucket_breadcrumb' %>
<% if flash.has?(:message) %>
  <%= flash[:message]%>
<% end %>

<form action="/buckets/<%= @bucket.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">


  <input type="text" name="bucket[name]" value=<%= @bucket.name %>>
  </br>

  <% @moments.each do |moment| %>

    <%= erb :'partials/moment_card', :layout => false, :locals => {:moment => moment} %>
  <% end %>

  <label for="new_moment[name]">Name</label>
  <input type="text" name="new_moment[name]">

  <label for="new_moment[value]">value</label>
  <input type="text" name="new_moment[value]">

  <label for="new_unit[moment]">unit</label>
  <input type="text" name="new_unit[name]">
  </br>
  <input type="submit" name="submit">
</form>
